<html>
  <body>
      <div class="container" style="padding:20px">
      <div class="card card-body bg-light">
        <h1>{{pageTitle}}</h1>
        <h3>{{data}}</h3>
      </div>
     </div>
   </body>
</html>
