<html class="h-full">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{siteRoot}}/css/compiled.css" rel="stylesheet">
  </head>
  <body class="w-full h-full bg-fixed bg-gradient-to-br from-yellow-400 via-orange-500 to-pink-500">
    <div class="flex flex-col items-stretch sm:items-center"/>
    <form class="flex flex-col items-stretch p-3" action="/saveData" method="post">
      <a href="/" class="text-center text-xl font-bold mb-3">{{pageTitle}}</a>
      <input type="hidden" name="id" value="{{id}}">
      <label class="text-sm mb-1" for="data">Information to share</label>
      <textarea class="rounded p-2 mb-3 text-sm" name="data" rows="10" cols="50" required></textarea>
      <label class="text-sm mb-1" for="expiresAt">Expire on</label>
      <input class="rounded text-sm p-2 mb-3" type="date" name="expiresAt" value="{{defaultExpiry}}" required >
      <button class="hover:bg-blue-700 text-white text-bold bg-blue-900 px-3 py-1 rounded" type="submit">Share</button>
    </form>
</div>
</body>
</html>
