<html class="h-full">
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="/css/compiled.css" rel="stylesheet">
  </head>
  <body class="w-full h-full bg-fixed bg-gradient-to-br from-yellow-400 via-orange-500 to-pink-500">
    <div class="flex flex-col items-stretch sm:items-center p-3">
      <a href="/" class="text-center text-xl font-bold mb-3">{{pageTitle}}</a>
      <h1 class="text-center">This data has expired.</h1>
      </div>
   </body>
</html>
