<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="/css/compiled.css" rel="stylesheet">
  </head>
  <body>
      <div>
        <h1>{{pageTitle}}</h1>
        <h3>{{data}}</h3>
      </div>
   </body>
</html>
